/* обнулящие свойства */
a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

ul li {
    list-style: none;
}


/* обнулящие свойства end*/
/*      Custom styles and rules     */
body {
    background-color: lemonchiffon;
}

.main-app {
    background-color: #fff;
    margin-top: 2%;
}

.main-app__header {
    background-color: #ddd;
    color: #008;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 16px;
}

.main-app__header--marginTop {
    margin-top: 8px;
}

.main-app__header--selectedCity {
    color: blue;
    font-weight: 900;
}

.main-app__content {
    padding-top: 16px;
    padding-bottom: 16px;
}

.main-app__footer {
    padding-top: 36px;
    padding-bottom: 16px;
    background-color: lightgreen;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.img__top-rest {
    height: 180px;
}

/*body*/
.restoran__card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #000;
}

.card-body {
    color: #000;
}

.card__body:hover {
    background-color: #5c5a5a;
    /*todo color no work in hover*/
    color: #ddd;
}

/*main-app */
.main-app__menu {
    border-right: 1px solid #bbb6b6;
}

.cards__block {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cards__block .card-menu {
    margin: 5px 7px;
    flex: 0 1 23%;

}

.main-addres {}

.dropdown-toggle {
    margin-bottom: 15px;
}

.list-group-item {
    line-height: 10px;
}

.card__title-menu {
    margin: 0px;
    padding: 0px;
    line-height: 15px;
}


/*main-app end*/
/*body end*/